<header>
    <h1>Reserve Garden</h1>
    <h2>Promoções do dia: {{dataAtual | date:'dd/MM/yyyy'}}</h2>
</header>
<section class="produtos-container">
  <div *ngFor="let produto of produtos" class="card-principal">
    <div class="card-imagem">
      <img src="{{produto.urlImagem}}" alt="">
    </div>
    <div class="card-info">
      <h6>{{produto.nome}}</h6>
      <h5 style="color: red;">R${{produto.preco}}</h5>
    </div>
    <div class="card-comprar">
      <a href="{{produto.link}}" target="_blank">
        <button>Comprar</button>
      </a>
    </div>
  </div>
</section>